<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Banco Capgemini</h4>
              <p class="card-category">Informe sua Agência e Conta e tecle Enter</p>
          </div>
          <div class="card-body">
              <app-accounts (return)="receiver($event)"></app-accounts>
              <button (click)="display()" class="btn btn-info">
                  Ver Saldo
                  <mat-icon aria-hidden="false" >done</mat-icon>
              </button>
              <div class="row">
                  <h2>Seu saldo atual é: {{balance.saldo}}</h2>
              </div>
          </div>
      </div>
  </div>
  