<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Banco Capgemini</h4>
              <p class="card-category">O que deseja fazer?</p>
          </div>
          <div class="card-body">
              <button (click)="balance()" class="btn btn-info">
                  Ver Saldo
                  <mat-icon aria-hidden="false" >done</mat-icon>
              </button>
              <button (click)="deposit()" class="btn btn-info">
                  Depositar
                  <mat-icon aria-hidden="false" >done</mat-icon>
              </button>
              <button (click)="withdrawal()" class="btn btn-info">
                  Sacar
                  <mat-icon aria-hidden="false" >done</mat-icon>
              </button>
          </div>
      </div>
  </div>
  